$background-menu: rgba(255, 255, 255, 0.95);
$dark-purple: #2F2740;
$light-orange: #f2bc8d;
$dark-orange: #f28066;
$transparent-dark-orange: rgba(242, 128, 102, 0.5);
$medium-gray: #707070;
$medium-brown: #a66660;
$white: #ffffff;